/******************** RESET ***************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
        text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*************************************************/

html {
  border-top: 4px solid #708090;
  padding-bottom: 50px;
}

body {
  width: 1000px;
  margin: 0 auto;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

a {
  color: #708090;
}

a:hover {
  color: #2F4F4F;
}

h1 {
  font: 1.6em "Palatino", "Times", "Georgia", serif;
  color: #708090;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(112, 128, 144, 0.2);
}

h2 {
  font: 1.5em "Palatino", "Times", "Georgia", serif;
  color: #708090;
  margin-bottom: 15px;
}

h3 {
  font: 1.4em "Palatino", "Times", "Georgia", serif;
  color: #708090;
  margin-bottom: 15px;
}

p {
  margin-bottom: 20px;
}

pre {
  border: 1px solid #708090;
  background-color: rgba(112, 128, 144, 0.2);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: inset 0 2px 5px rgba(112, 128, 144, 0.4);
  overflow: hidden;
}

pre:hover {
  box-shadow: 0 0 10px rgba(112, 128, 144, 0.8);
}

code {
  font-family: "Courier", monospace;
}

pre code {
  font-size: 10pt;
  white-space: pre-wrap;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

q {
  font-style: italic;
}

nav li {
  display: list-item;
}

blockquote {
  margin: 0 20px;
}

blockquote p {
  padding: 20px;
  font-style: italic;
  color: #696969;
  border-left: 5px solid #D3D3D3;
}

#main-head {
  border-bottom: 1px solid #708090;
  overflow: hidden;
  position: relative;
  height: 140px;
  margin-bottom: 40px;
}

#main-head nav {
  position: absolute;
  right: 20px;
}

#main-head nav li {
  font: 1.25em "Palatino", "Times", "Georgia", serif;
  float: left;
  height: 130px;
  position: relative;
}

#main-head nav li.separator {
  font-size: 2em;
  color: #708090;
  margin: 0 5px;
  position: relative;
  top: 97px;
}

#main-head nav li a {
  display: block;
  padding-top: 105px;
}

#main-head nav li.item {
  transition: background-color 500ms;
  -webkit-transition: background-color 500ms;
  -moz-transition: background-color 500ms;
  -o-transition: background-color 500ms;
  -ms-transition: background-color 500ms;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 0 10px;
}

#main-head nav li.item:hover {
  background-color: rgba(112, 128, 144, 0.2);
}

#banner {
  font: 3.5em "Palatino", "Times", "Georgia", serif;
  color: #708090;
  text-shadow: 1px 1px 3px #888;
  position: absolute;
  top: 68px;
  left: 20px;
}

#banner span {
  color: #696969;
}

#gh-ribbon {
  position: fixed;
  top: 0;
  right: 0;
}

#main-foot {
  border-top: 1px solid #708090;
  margin-top: 40px;
  padding: 20px;
  font-size: 0.8em;
  position: relative;
  overflow: hidden;
}

#main-foot #feed {
  width: 96px;
  height: 96px;
  position: absolute;
  right: 30px;
}

#main-foot #validation {
  width: 96px;
  height: 96px;
  position: absolute;
  right: 130px;
}

#main-foot a img {
  position: absolute;
  left: 0;
  top: 0;
  width: 96px;
  height: 96px;
}

#main-foot .link-inactive {
  transition: opacity 750ms;
  -webkit-transition: opacity 750ms linear;
  -moz-transition: opacity 750ms;
  -o-transition: opacity 750ms;
  -ms-transition: opacity 750ms;
  z-index: 2;
}

#main-foot .link-active {
  z-index: 1;
}

#main-foot .link-inactive:hover {
  opacity: 0;
}

#main-foot #links {
  overflow: hidden;
}

#main-foot nav {
  float: left;
  margin-right: 30px;
  width: 33%;
}

#main-foot #copyright {
  text-align: center;
  margin: 40px 0;
  color: #777;
}

#main-foot #copyright p {
  margin: 0;
}

#main-content {
  padding: 0 10px;
}

.post {
  margin-bottom: 40px;
}

.post header h3 {
  color: #708090;
  margin-bottom: 10px;
  font: 0.9em Verdana, Arial, Helvetica, sans-serif;
  padding-top: 5px;
}

.post img {
  display: block;
  margin: 0 auto;
}

#tagged-posts {
  margin: 40px;
}

.post-date {
  color: #696969;
}

.page-content {
  margin-top: 30px;
}

#about {
  margin-bottom: 140px;
}

#about img {
  -moz-border-radius: 10px;
  border: 3px solid white;
  box-shadow: 0 4px 10px #696969;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  -ms-transition: all 500ms;
  z-index: 100;
}


#about #photo {
  float: left;
  width: 30%;
  height: 30%;
  margin: 0 20px 10px 0;
}

#about #photo:hover {
  transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
}

#about #prince2-cert {
  float: right;
  width: 30%;
  height: 30%;
  margin: 10px 0 10px 20px;
}

#about #prince2-cert:hover {
  transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  -ms-transform: scale(2);
}

#about #ocpjp-cert {
  float: left;
  width: 30%;
  height: 30%;
  margin: 0 20px 10px 0;
}

#about #ocpjp-cert:hover {
  transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  -ms-transform: scale(2);
}

#contact ul {
  width: 800px;
  margin: 0 auto;
}

#contact li.separate {
  margin-top: 15px;
}

#tags {
  margin: 50px auto;
  width: 500px;
}

#tags li {
  display: inline;
  margin: 5px;
}

.pagination {
  overflow: hidden;
  padding: 0 40px;
}

.pagination .previous {
  float: right;
}

.pagination .next {
  float: left;
}

.k, .kd, .kt, .kn, .nb, .nt, .kc {
  color: #708090;
  font-weight: bold;
}

.nv {
  color: #708090;
}

.s, .s1, .s2, .sh, .sr {
  color: #2F4F4F;
}

.si {
  color: #778899;
}

.ss {
  color: #2F4F4F;
}

.nd {
  color: rgba(112, 128, 144, 0.9);
}

.na {
  color: #708090;
  font-style: italic;
}

.lineno {
  color: #9E9E9E;
}