/******************** RESET ***************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*************************************************/

html {
  border-top: 4px solid #708090;
  padding-bottom: 50px;
}

body {
  width: 1100px;
  margin: 0 auto;
  font: 16px 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.5;
  color: #3A3A3A;
}

a {
  color: #708090;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -ms-transition: all 300ms;
}

a:hover {
  color: #2F4F4F;
  text-decoration: underline;
}

h1 {
  font: 2em 'Paytone One', sans-serif;
  color: #708090;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(112, 128, 144, 0.2);
}

h2 {
  font: 1.8em 'Paytone One', sans-serif;
  color: #708090;
  margin-bottom: 20px;
}

h3 {
  font: 1.6em 'Paytone One', sans-serif;
  color: #708090;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

pre {
  border: 1px solid #E0E0E0;
  background-color: #F5F5F5;
  border-radius: 5px;
  padding: 10px;
  margin: 40px 0;
  overflow: hidden;
}

code {
  font-family: "Courier", monospace;
}

pre code {
  font-size: 12pt;
  white-space: pre-wrap;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

q {
  font-style: italic;
}

nav li {
  display: list-item;
}

blockquote {
  margin: 40px 20px;
}

blockquote p {
  padding: 20px 30px;
  font-style: italic;
  font-family: 'Libre Baskerville', serif;
  color: #696969;
  border-left: 5px solid #EAEAEA;
  border-right: 5px solid #EAEAEA;
  border-radius: 10px;
  background-color: #F3F3F3;
}

#main-head {
  overflow: hidden;
  position: relative;
  height: 120px;
  margin-bottom: 70px;
  border-bottom: 1px solid #708090;
}

#main-head a:hover {
  text-decoration: none;
}

#main-head nav {
  position: absolute;
  right: 20px;
}

#main-head nav li {
  font: 18px 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  float: left;
  height: 105px;
  position: relative;
}

#main-head nav li.separator {
  font-size: 2em;
  color: #708090;
  margin: 0 5px;
  position: relative;
  top: 62px;
}

#main-head nav li a {
  display: block;
  padding-top: 70px;
}

#main-head nav li.item {
  transition: background-color 500ms;
  -webkit-transition: background-color 500ms;
  -moz-transition: background-color 500ms;
  -o-transition: background-color 500ms;
  -ms-transition: background-color 500ms;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 0 10px;
}

#main-head nav li.item:hover {
  background-color: rgba(112, 128, 144, 0.2);
}

#banner {
  font: 2em 'Paytone One', sans-serif;
  color: #708090;
  position: absolute;
  top: 38px;
  left: 20px;
}

#banner span {
  transition: text-shadow 500ms;
  -webkit-transition: text-shadow 500ms;
  -moz-transition: text-shadow 500ms;
  -o-transition: text-shadow 500ms;
  -ms-transition: text-shadow 500ms;
  color: #696969;
}

#gh-ribbon {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
}

#promoteweb img {
  position: fixed;
  top: 40px;
  right: 40px;
}

#main-foot {
  border-top: 1px solid #708090;
  margin-top: 40px;
  padding: 20px;
  font-size: 0.8em;
  position: relative;
  overflow: hidden;
}

#main-foot #feed {
  width: 96px;
  height: 96px;
  position: absolute;
  right: 30px;
}

#main-foot #validation {
  width: 96px;
  height: 96px;
  position: absolute;
  right: 130px;
}

#main-foot a img {
  position: absolute;
  left: 0;
  top: 0;
  width: 96px;
  height: 96px;
}

.link-inactive {
  transition: opacity 750ms;
  -webkit-transition: opacity 750ms linear;
  -moz-transition: opacity 750ms;
  -o-transition: opacity 750ms;
  -ms-transition: opacity 750ms;
  z-index: 2;
}

.link-active {
  z-index: 1;
}

.link-inactive:hover {
  opacity: 0;
}

#main-foot #links {
  overflow: hidden;
}

#main-foot nav {
  float: left;
  margin-right: 30px;
  width: 45%;
}

#main-foot #copyright {
  text-align: center;
  margin: 40px 0;
  color: #777;
}

#main-foot #copyright p {
  margin: 0;
}

#main-content {
  width: 800px;
  margin: 0 auto;
}

.post {
  margin-bottom: 80px;
}

.post ul {
  list-style: disc inside;
  margin-left: 20px;
  margin-bottom: 20px;
}

.post ul li {
  margin-bottom: 5px;
}

.post header h1 a:hover {
  text-decoration: none;
}

.post header h3 {
  font: 14px 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-style: italic;
  color: #708090;
  margin-bottom: 30px;
  padding-top: 5px;
}

.post header h3 .tag {
  font-weight: bold;
}

.post section a {
  color: #1874CD;
}

.post section a:hover {
  color: #104E8B;
}

.post img {
  display: block;
  margin: 0 auto;
}

#tagged-posts {
  margin: 40px;
}

.post-date {
  color: #696969;
}

.page-content {
  margin-top: 30px;
}

#about {
  margin-bottom: 140px;
}

#about img {
  -moz-border-radius: 10px;
  border: 3px solid white;
  box-shadow: 0 4px 10px #696969;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  -ms-transition: all 500ms;
  z-index: 100;
}


#about #photo {
  float: left;
  width: 30%;
  height: 30%;
  margin: 0 20px 10px 0;
}

#about #photo:hover {
  transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
}

#about #prince2-cert {
  float: right;
  width: 20%;
  height: 20%;
  margin: 20px 0 20px 20px;
}

#about #prince2-cert:hover {
  transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  -ms-transform: scale(2);
}

#about #ocpjp-cert {
  float: left;
  width: 25%;
  height: 25%;
  margin: 0 20px 20px 0;
}

#about #ocpjp-cert:hover {
  transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  -ms-transform: scale(2);
}

#about #psm-i-cert, #about #pspo-i-cert {
  width: 25%;
  height: 25%;
}

#about #psm-i-cert {
  float: right;
  margin: 0 0 20px 20px;
}

#about #pspo-i-cert {
  float: left;
  margin: 0 20px 20px 0;
}

#about #psm-i-cert:hover, #about #pspo-i-cert:hover {
  transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  -ms-transform: scale(2);
}

#badges {
  position: absolute;
  top: 30px;
  left: -50px;
}

#badges li {
  position: relative;
  top: 10px;
  opacity: 0.1;
  transition: all 750ms;
  -webkit-transition: all 750ms;
  -moz-transition: all 750ms;
  -o-transition: all 750ms;
  -ms-transition: all 750ms;
}

#badges li:hover {
  opacity: 1;
  left: 30px;
}

#badges img {
  box-shadow: none;
}

#contact ul {
  width: 800px;
  margin: 0 auto;
}

#contact li.separate {
  margin-top: 15px;
}

#tags {
  margin: 50px auto;
  width: 500px;
}

#tags li {
  display: inline;
  margin: 5px;
}

.pagination {
  overflow: hidden;
  padding: 0 40px;
}

.pagination .previous {
  float: right;
}

.pagination .next {
  float: left;
}

.k, .kd, .kt, .kn, .nb, .nt, .kc {
  color: #708090;
  font-weight: bold;
}

.nv {
  color: #708090;
}

.s, .s1, .s2, .sh, .sr {
  color: #CD8500;
}

.si {
  color: #778899;
}

.ss {
  color: #CD8500;
}

.sx {
  color: #5D478B;
}

.nd {
  color: rgba(112, 128, 144, 0.9);
}

.na {
  color: #708090;
  font-style: italic;
}

.no, .nc {
  color: #6E7B8B;
}

.lineno {
  color: #9E9E9E;
}

.c1 {
  color: #aaa;
  font-style: italic;
}
