/******************** RESET ***************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
        text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*************************************************/

html {
  border-top: 4px solid #708090;
  padding-bottom: 50px;
}

body {
  width: 1000px;
  margin: 0 auto;
  line-height: 1.5em;
  font-family: "Palatino", "Times", "Georgia", serif;
}

a {
  color: #708090;
}

a:hover {
  color: #2F4F4F;
}

h1 {
  font-size: 1.8em;
  color: #708090;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(112, 128, 144, 0.2);
}

h3 {
  font-size: 1.4em;
  color: #708090;
  margin-bottom: 15px;
}

p {
  margin-bottom: 20px;
}

pre {
  border: 1px solid #708090;
  background-color: rgba(112, 128, 144, 0.2);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: inset 0 2px 5px rgba(112, 128, 144, 0.4);
}

pre:hover {
  box-shadow: 0 0 10px rgba(112, 128, 144, 0.8);
}

code {
  font: 0.9em "Courier", monospace;
}

strong {
  font-weight: bold;
}

nav li {
  display: list-item;
}

#main-head {
  border-bottom: 1px solid #708090;
  overflow: hidden;
  position: relative;
  height: 140px;
  margin-bottom: 40px;
}

#main-head nav {
  font-size: 1.25em;
  position: absolute;
  right: 20px;
}

#main-head nav li {
  float: left;
  height: 130px;
  position: relative;
}

#main-head nav li.separator {
  font-size: 2em;
  color: #708090;
  margin: 0 5px;
  position: relative;
  top: 98px;
}

#main-head nav li a {
  display: block;
  padding-top: 100px;
}

#main-head nav li.item {
  transition: background-color 500ms;
  -webkit-transition: background-color 500ms;
  -moz-transition: background-color 500ms;
  -o-transition: background-color 500ms;
  -ms-transition: background-color 500ms;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 0 10px;
}

#main-head nav li.item:hover {
  background-color: rgba(112, 128, 144, 0.2);
}

#banner {
  font-size: 3em;
  color: #708090;
  text-shadow: 1px 1px 3px #888;
  position: absolute;
  top: 88px;
  left: 20px;
}

#banner span {
  color: #696969;
}

#main-foot {
  border-top: 1px solid #708090;
  margin-top: 40px;
  padding: 20px;
  font-size: 0.8em;
}

#main-foot #links {
  overflow: hidden;
}

#main-foot nav {
  float: left;
  margin-right: 30px;
  width: 33%;
}

#main-foot #copyright {
  text-align: center;
  margin: 40px 0;
  color: #777;
}

#main-foot #copyright p {
  margin: 0;
}

#main-content {
  padding: 0 10px;
}

.post {
  margin-bottom: 40px;
}

.post header h3 {
  color: #708090;
  margin-bottom: 10px;
  font-size: 0.9em;
}

#tagged-posts {
  margin: 40px;
}

.post-date {
  color: #696969;
}

.k, .kd, .kt, .kn, .nb, .nt, .kc {
  color: #708090;
  font-weight: bold;
}

.nv {
  color: #708090;
}

.s, .s1, .s2, .sh, .sr {
  color: #2F4F4F;
}

.si {
  color: #778899;
}

.ss {
  color: #2F4F4F;
}

.nd {
  color: rgba(112, 128, 144, 0.9);
}

.na {
  color: #708090;
  font-style: italic;
}