<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Michal Orman's Personal Blog</title>
    <meta name="description" content="Michal Orman personal
    blog. Java, Ruby, Software Engineering and more."/>
    <link rel="stylesheet" type="text/css"
          href="/assets/css/style.css"/>
  </head>

  <body>
    <header id="main-head">
      <a id="banner" href="/" alt="Home">
        michalorman<span>.com</span>
      </a>
      <nav>
        <ul>
          <li class="item">
            <a href="/">Home</a>
          </li>
          <li class="separator">
            &middot;
          </li>
          <li class="item">
            <a href="/about">About</a>
          </li>
          <li class="separator">
            &middot;
          </li>
          <li class="item">
            <a href="/contact">Contact</a>
          </li>
        </ul>
      </nav>
    </header>

    <section id="main-content">
      {{ content }}
    </section>

    <footer id="main-foot">
      <div id="recent-posts">
      </div>
    </footer>
  </body>
</html>
