<!DOCTYPE html>
<html lang='en_US'>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
  </head>
  <body>
    <header id='sidebar' role='banner'>
      <nav role='navigation'>
      </nav>
    </div>

    <main id='content' role='main'>
      {{ content }}
    </main>
  </body>
</html>
