---
layout: default
---
<a id="gh-ribbon" href="http://github.com/michalorman" title="Fork me on GitHub">
  <img src="/assets/images/gh-ribbon.png" alt="Fork me on GitHub">
</a>
<a id="promoteweb" href="https://developer.mozilla.org/docs/?WT.mc_id=mdn8" title="Better Web docs for a better Web on MDN">
  <img src="/assets/images/promoteweb_inactive.png"
  class="link-inactive"
  alt="Better Web docs for a better Web on MDN" />
  <img src="/assets/images/promoteweb_active.png"
  class="link-active"
  alt="Better Web docs for a better Web on MDN" />
</a>
<h1>{{ page.title }}</h1>
<section id="{{ page.id }}" class="page-content">
  {{ page.content }}
</section>
